{% extends "base.html" %}
{% block head %}
<meta name="description" content="Zhvillues programesh i pasionuar i cili kerkon gjithmonë sfidën e ardhshme" />
{{ super() }}
{% endblock %}
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}
<nav class="mobile-menu">
<label for="show-menu" class="show-menu"><span>Menu</span><div class="lines"></div></label>
<input type="checkbox" id="show-menu">
<a href="#" id="title">User</a>
<ul id="menu">
    <li><a href="#">Home</a></li>
    <li><a href="{{ url_for('index') }}">Add Users</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>
</nav>

<div class="main-container">
    <div class="main student flex two">
	<div class="profile sixth">
	    <img src="http://placehold.jp/200x200.png"></img>
	    <p> {{ username.name }}</p>
	</div>
	<div class="subjects">
	    <table class="primary adm-table">
		<thead>
		    <tr>
			<th>Subject Id</th>
			<th>Subject</th>
			<th>Subject Time</th>
			<th>Subjects Grade</th>
		    </tr>
		</thead>
		<tbody>
		    {% for id, time, subject, grade in subjects %}
		    <tr>
			<td>{{ id }}</td>
			<td>{{ subject }}</td>
			<td>{{ time }}</td>
			<td>{{ grade }}</td>
		    </tr>
		    {% endfor %}
		</tbody>
	    </table>
	</div>

    </div>
</div> <!-- #main-container -->

{% endblock %}
